<h1><%= @device.description %></h1>

<dl class="mt-5">
  <dt>Serial Number</dt>
  <dd><%= @device.serial_number %></dd>
  <dt>Firmware Version</dt>
  <dd><%= @device.firmware_version %></dd>
</dl>

<h3>Last Snapshot</h3>

<dl class="mt-2">
  <dt>At</dt>
  <dd><%= l @last_snapshot&.taken_at if @last_snapshot %></dd>
  <dt>Status</dt>
  <dd><%= @last_snapshot&.status || '-' %></dd>
  <dt>Temperature</dt>
  <dd><%= @last_snapshot&.temperature_celsius || '-' %> ºC</dd>
  <dt>Humidity</dt>
  <dd><%= @last_snapshot&.humidity_percentage || '-' %> %</dd>
  <dt>Carbon Monoxide</dt>
  <dd><%= @last_snapshot&.carbon_monoxide_ppm || '-' %> PPM</dd>
</dl>

<div class="row mt-5 mb-3">
  <div class="col-sm-8">
    <h3 class="">Monitoring</h3>
  </div>

  <div class="col-sm-4">
    <%= form_tag @device, method: :get do %>
      <%= hidden_field_tag :since, params[:since] %>
      <%= hidden_field_tag :upto, params[:upto] %>
      <%= text_field_tag :date, "#{@since.to_time.strftime('%B %d, %y')} - #{@upto.to_time.strftime('%B %d, %y')}",
                         class: 'dates-picker form-control text-center', name: nil %>
    <% end %>
  </div>
</div>

<h4 class="text-center">Temperature (ºC)</h4>
<%= line_chart @snapshots.group_by_period(@period, :taken_at).average(:temperature_celsius) %>

<h4 class="text-center mt-3">Humidity (%)</h4>
<%= line_chart @snapshots.group_by_period(@period, :taken_at).average(:humidity_percentage) %>

<h4 class="text-center mt-3">Carbon Monoxide (PPM)</h4>
<%= line_chart @snapshots.group_by_period(@period, :taken_at).average(:carbon_monoxide_ppm) %>

<div class="text-center my-4">
  <%= link_to 'Back', devices_path, class: 'btn btn-light' %>
</div>
