<h1><%= @device.description %></h1>

<dl class="mt-5">
  <dt>Serial Number</dt>
  <dd><%= @device.serial_number %></dd>
  <dt>Firmware Version</dt>
  <dd><%= @device.firmware_version %></dd>
</dl>

<h3>Last Snapshot</h3>

<dl class="mt-2">
  <dt>At</dt>
  <dd><%= l @last_snapshot&.taken_at if @last_snapshot %></dd>
  <dt>Status</dt>
  <dd><%= @last_snapshot&.status || '-' %></dd>
  <dt>Temperature</dt>
  <dd><%= @last_snapshot&.temperature_celsius || '-' %> ºC</dd>
  <dt>Humidity</dt>
  <dd><%= @last_snapshot&.humidity_percentage || '-' %> %</dd>
  <dt>Carbon Monoxide</dt>
  <dd><%= @last_snapshot&.carbon_monoxide_ppm || '-' %> PPM</dd>
</dl>

<div class="text-center">
  <%= link_to 'Back', devices_path, class: 'btn btn-light' %>
</div>
